{% extends "general/layout.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Bienvenido a nuestro InstaConquer{% endblock head_title %}

{% block page_content %}
    <div class="container">
        <div class="row mt-2 mb-2">
            <div class="col-sm">
                {% for message in messages %}
                <div class="alert
                    {% if message.tags %}
                        {% if message.tags == 'error' %}
                            alert-danger
                        {% else %}
                            alert-{{message.tags}} 
                        {% endif %}
                    {% else %}
                        alert-info
                    {% endif %}">
                {{message}}
                </div>
                {% endfor %}
            </div>
        </div>
        <h1>Inicio de sesión</h1>
        <p>Este es el contenido de inicio de sesión</p>
    </div>
{% endblock page_content %}